.Button
  position: relative
  border-radius: 5px
  outline: none
  padding: 10px
  border: 1px solid black
  cursor: pointer
  outline: none
  font-size: 18px
  transform: translate(0, 0)
  box-shadow: 4px 4px black
  transition: .1s
  &:active
    transform: translate(4px, 4px)
    box-shadow: 0 0
  &.disabled
    transform: translate(0, 0) !important
    box-shadow: 4px 4px black !important
    &::before
      content: ''
      position: absolute
      background-image: url("../assets/icons/loader.gif")
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      z-index: 1
      top: 10px
      bottom: 10px
      left: 10px
      right: 10px
      border-radius: inherit
      background-color: inherit
  img
    width: 40px
    display: block

@media (prefers-color-scheme: light)
  .Button
    background-color: white
    img
      filter: invert(0)

@media (prefers-color-scheme: dark)
  .Button
    background-color:#191919
    img
      filter: invert(100%)

@media (max-width: 600px)
  .Button
    button
      padding: 8px
      font-size: 16px
    img
      width: 30px