@import '../_variables'
.Input
  border: $border
  height: 50px
  flex-grow: 1
  flex-shrink: 1
  padding: 0 10px
  border-radius: $border-radius
  display: flex
  align-items: center

@media (max-width: $breakpoint-m)
  .Input
    height: 30px
    padding: 0 8px