@import '../_variables'
.Keyboard
  display: flex
  flex-direction: column
  row-gap: 12px
  .row
    display: flex
    justify-content: center
    column-gap: 8px
    button
      padding: 10px
      border: $border
      border-radius: $border-radius
      cursor: pointer
      font-weight: bold
      transform: translate(0, 0)
      box-shadow: 2px 2px $shadow
      transition: .1s
      &:active
        transform: translate(4px, 4px)
        box-shadow: 0 0

@media (max-width: $breakpoint-m)
  .Keyboard
    .row
      button
        padding: 8px