@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')
*
  margin: 0
  padding: 0
  box-sizing: border-box
:root
  color-scheme: light dark
body
  font-family: "Space Mono", monospace !important
  font-size: 18px !important
h4
  font-size: 32px
  width: 100%
  text-align: center
button, select
  font-family: "Space Mono", monospace
  font-size: 18px !important
  outline: none
  user-select: none
.error
  text-decoration-line: underline
  text-decoration-style: wavy

@media (max-width: 600px) 
  body
    font-size: 14px !important

@media (prefers-color-scheme: light)
  body, button, select
    background-color: white
    color: black
  .error
    text-decoration-color: red

@media (prefers-color-scheme: dark)
  body, button, select
    background-color:#191919
    color: white
  .error
    text-decoration-color: #b30202